/* Fonts */
@font-face {
    font-family: "Francois One";
    src: url("./fonts/FrancoisOne-Regular.ttf");
}


/* Bluemix Guidelines */
body {
  margin: 0;
  padding: 0;
  font: 300 14px/1.4 'IBM Helvetica', 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'sans-serif';
  background: #FFFFFF;
  color: #1D364D;
}

button {
	background-color: #602797;
}

/*Edits to Carbon Components*/
.bx--expandable-row td{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.bx--btn--primary{
	background-color: #602797;
}

.bx--btn--primary:hover{
	background-color: #9753E1;
}

.bx--btn--primary:focus{
	background-color: #9753E1;
}

.bx--btn--primary:active{
	background-color: #9753E1;
}

.bx--btn--ghost{
	color: #602797;
}

.bx--btn--ghost:hover{
	color: #FFFFFF;
	background-color: #9753E1;
}

.bx--table-sort__svg{
	margin-left: 0.1em;
}

.carbon-form-input-container-input{
	background-color: #DFE6EB;
}

/*Login Stuff*/

.user-access-container{
	width: 60%;
	max-width: 350px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

/*Header Stuff*/

.App-header {
  background-color: #F0F4F4;
  height: 80px;
}

.header-app-name-container{
	margin-left: 40px;
}

.header-app-name-container h1{
  font-family: 'Francois One', cursive;
  font-size: 3.5rem;
  color: #eb6e80;
}

.header-menu-container{
	position: relative;
	float: left;
}

.header-menu-container button{
	height: 60px;
	width: 60px;
}

.header-menu-container button svg path{
	fill: #FFFFFF;
}

.header-tool-container{
	float: right;
	margin-top: -60px;
  	position: relative;
}

.header-tool-list li{
	display: inline-block;
	margin-right: 30px;
	padding: 5px;
  border: 1px solid #f0f4f4;
	cursor: pointer;
}

.header-tool-list li:hover{
	border-bottom: 1px solid #1d364d;
}

.header-tool-list li svg{
	float: left;
}

.header-tool-list li svg path{
	fill: #1d364d;
}

.header-tool-list li p{
	float: left;
	margin-left: 10px;
}
/*Home Stuff*/

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.tabs {
  margin: 25px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
.tabs__labels {
  margin: 0;
  padding: 0;
}
.tabs__labels li {
  display: inline-block;
}
.tabs__labels li a {
  padding: 8px 12px;
  display: block;
  color: #444;
  text-decoration: none;
  border-bottom: 2px solid #f5f5f5;
}
.tabs__labels li a.active {
  border-bottom-color: #eb6e80;
}
.tabs__content {
  padding: 25px;
}

/*Pantry stuff*/
.add-ingredient-container{
	margin-top: 15px;
}

/*.add-ingredient-button{
	background-color: #256DD3;
}

.add-ingredient-button:hover{
	background-color: #1F57A4;
}*/

.delete-ingredient-icon{
	cursor: pointer;
}

#pantry{
	margin: 0 auto;
	width: 95%;
	margin-top: 50px;
}

.pantry-table{
	border: none;
}

.pantry-table tbody tr{
	border-left: none;
	border-right: none;
}

.pantry-table-description-container{
	margin-left: 20px;
	margin-bottom: 10px;
}

.pantry-table-head{
	border-top: 2px solid #1D364D;
}

.pantry-table-header-sortable{
  cursor:pointer;
}

.pantry-table-header-sort-selected{
	border-bottom: 2px solid #256DD3;
}

.pantry-table-body-row{
	border-bottom: 1px solid gray;
	height: 3rem;
}

.pantry-table-ingredient{
	font-size: .975rem;
}

.date-indicator{
	margin-right: 5px;
	float: left;
}

.icon-red path{
	fill: #E62325;
}

.icon-green path{
	fill: #95D13C;
}

.tabs{
	margin: 0;
	border: none;
}

.tabs__labels{
	font-size: 20px;
}

.tabs__labels li{
	padding-left: 30px;
}

.tabs__labels li a.active{
  border-bottom-color: #eb6e80;
}

/*Recipes Stuff*/
/*Recipe Search stuff*/
/* Search 1 - bg change*/
.recipes-wrap{
	margin-top: 50px;
	margin-left: 20px;
}

.recipe-search-container{
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.recipe-search-input-container{
	width: 70%;
	margin-right: 20px;
	float: left;
}

.recipe-search-button-container{
	float: left;
	margin-top: 29px;
}

.recipe-search-results-list{
/*	border: 2px solid #B8C1C1;*/
}

.recipe-search-results-list li{
	box-sizing: border-box;
    	width: 100%;
    	padding: 10px;
	border-top: 1px solid #D0DADA;
	border-bottom: 1px solid #D0DADA;
}

.recipe-search-results-list li:hover{
	background-color: #DFE6EB;
}

.recipe-display-header{
	text-align:center;
	margin-bottom: 20px;
}

.recipe-display-title{
	font-size: 2.1rem;
}

.recipe-display-description{
	font-weight: bold;
	color: #9753E1;
}

.recipe-display-title{
	font-size: 2.1rem;
}

.recipe-display-ingredients{
	margin-bottom: 15px;
	font-size: 1.2rem;
	color: #535A5A;
	border-top: 0.1rem solid #1D364D;
	border-bottom: 0.1rem solid #1D364D;
	padding-top: 5px;
	padding-bottom: 5px;
}

.recipe-display-instructions p{
	margin-bottom:5px;
	font-size: 1.1rem;
}

/*table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 15px;
}

tr{
	text-align: left;
}

tbody tr:hover{
	background-color: rgba(96, 216, 249, 0.84);
}*/

.spacer{
	clear:both;
}

.recipe-search-results-container{
	width: 45%;
	float: left;
	margin-top: 30px;
}

.recipe-display-container{
	width: 45%;
	float: left;
	margin-top: 30px;
	margin-left: 5%;
	text-align: left;
}

.recipe-display-container h3{
	text-align: center;
	margin-top: 0px;
}

/*InfoMessage Stuff */

.error-msg{
	color: red;
}

.success-msg{
	color: green;
}
