/* Media Queries */

@media only screen and (max-width: 1455px) {
  .recipe-search-results-paginator{
    max-width: 722px;
  }
}

@media only screen and (min-width: 1456px) {
  .recipe-search-results-paginator{
    max-width: 1093px;
  }
}

/* Fonts */
@font-face {
    font-family: "Francois One";
    src: url("./fonts/FrancoisOne-Regular.ttf");
}

/*Logo*/
.st0{fill: #d4dcdc;}
.st1{fill:#9753E1;}
.st2{fill:#047CC0;}
.st3{fill:#34BC6E;}
.st4{fill:#FE8500;}
.st5{fill:#FED500;}
.st6{fill:#00884B;}
.st7{fill:none;stroke:#00884B;stroke-miterlimit:10;}
.st8{fill:#95D13C;}
.st9{fill:#1C496D;}
.st10{fill:#56ACF2;}
.st11{fill:#008673;}
.st12{fill:#40D5BB;}
.st13{fill:none;stroke:#535A5A;stroke-miterlimit:10;}
.st14{fill:#535A5A;}
.st15{fill:none;stroke:#363A3A;stroke-miterlimit:10;}

.saveory-logo-multi{
  enable-background:new 0 0 79 112.6;
  position: absolute;
  top: 5px;
}

/* Static Elements*/
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  position: relative;
  font: 300 14px/1.4 'IBM Helvetica', 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'sans-serif';
  background: #FFFFFF;
  color: #1D364D;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 500px;
  padding: 1rem;
  background-color: #edeef3;
  text-align: center;
}

button {
	background-color: #602797;
}

/*Edits to Carbon Components*/
.bx--expandable-row td{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.bx--btn--primary{
	background-color: #602797;
}

.bx--btn--primary:hover{
	background-color: #9753E1;
}

.bx--btn--primary:focus{
	background-color: #9753E1;
}

.bx--btn--primary:active{
	background-color: #9753E1;
}

.bx--btn--ghost{
	color: #602797;
}

.bx--btn--ghost:hover{
	color: #FFFFFF;
	background-color: #9753E1;
}

.bx--table-sort__svg{
	margin-left: 0.1em;
}

.bx--modal-content{
  overflow-x: hidden;
}

.carbon-form-input-container{
    margin-right: 1rem;
}

.carbon-form-input-container label{
  font-size: 1.075rem;
}

.carbon-form-input-container-input{
	background-color: #DFE6EB;
}

/*Login Stuff*/

.user-access-container{
	width: 60%;
	max-width: 350px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

/*Header Stuff*/

.App-header {
  background-color: #313f4c;
  height: 85px;
}

.header-app-name-container{
	margin-left: 40px;
  /*width: 100px;
  height: 100px;
  background-image: url("/saveory_logo-multi.svg");*/
}

.header-app-name-container h1{
  font-family: 'Francois One', cursive;
  font-size: 3.5rem;
  color: #c7485b;
}

.header-menu-container{
	position: relative;
	float: left;
}

.header-menu-container button{
	height: 60px;
	width: 60px;
}

.header-menu-container button svg path{
	fill: #FFFFFF;
}

.header-tool-container{
  position: absolute;
  top: 10px;
  right: 5px;
}

.header-tool-list li{
	display: inline-block;
	margin-right: 30px;
	padding: 5px;
  border: 1px solid #343d46;
	cursor: pointer;
}

.header-tool-list li:hover{
	border-bottom: 1px solid #d4dcdc;
}

.header-tool-list li svg{
	float: left;
}

.header-tool-list li svg path{
	fill: #ffffff;
}

.header-tool-list li p{
	float: left;
	margin-left: 10px;
  color: #d4dcdc;
}

.account-settings-form-item:last-of-type{
  padding-right: 1rem;
}

/*Home Stuff*/

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.tabs {
  margin: 25px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
.tabs__labels {
  margin: 0;
  padding: 0;
}
.tabs__labels li {
  display: inline-block;
}
.tabs__labels li a {
  padding: 8px 12px;
  display: block;
  color: #444;
  text-decoration: none;
  border-bottom: 2px solid #f5f5f5;
}
.tabs__labels li a.active {
  border-bottom-color: #65737e;
}
.tabs__content {
  padding: 25px;
}

/*Pantry stuff*/
.add-ingredient-container{
	margin-top: 15px;
}

.add-ingredient-form-item label{
  text-transform: capitalize;
}

/*.add-ingredient-button{
	background-color: #256DD3;
}

.add-ingredient-button:hover{
	background-color: #1F57A4;
}*/

.delete-ingredient-icon{
	cursor: pointer;
}

#pantry{
	margin: 0 auto;
	width: 95%;
	margin-top: 40px;
}

.pantry-table{
	border: none;
}

.pantry-table tbody tr{
	border-left: none;
	border-right: none;
}

.pantry-table-description-container{
	margin-left: 20px;
	margin-bottom: 10px;
}

.pantry-table-head{
	border-top: 2px solid #1D364D;
}

.pantry-table-header-sortable{
  cursor:pointer;
}

.pantry-table-header-sort-selected{
	border-bottom: 2px solid #256DD3;
}

.pantry-table-body-row{
	border-bottom: 1px solid gray;
	height: 3rem;
}

.pantry-table-ingredient{
	font-size: .975rem;
}

.pantry-table-ingredient input{
  max-width: 120px;
  padding: 2px;
}

.date-indicator{
	margin-right: 5px;
	float: left;
}

.icon-red path{
	fill: #E62325;
}

.icon-green path{
	fill: #95D13C;
}

.tabs{
	margin: 0;
	border: none;
}

.tabs__labels{
	font-size: 20px;
}

.tabs__labels li{
	padding-left: 30px;
}

/*Recipes Stuff*/
/*Recipe Search stuff*/
/* Search 1 - bg change*/
.recipes-wrap{
	margin-top: 50px;
}

.recipes-container{
  margin: 0 auto;
  width: 80%;
  max-width: 1130px;
}

.recipe-search-container{
  max-width: 650px;
  min-width: 520px;
  margin: 0 auto;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.recipe-search-input-container{
	width: 70%;
	margin-right: 20px;
	float: left;
}

.recipe-search-input-container label{
  font-size: 1rem;
}

.recipe-search-button-container{
	float: left;
	margin-top: 32px;
}

.recipe-search-results-list{
/*	border: 2px solid #B8C1C1;*/
}

.recipe-search-results-list li{
	box-sizing: border-box;
    	width: 100%;
    	padding: 10px;
	border-top: 1px solid #D0DADA;
	border-bottom: 1px solid #D0DADA;
}

.recipe-search-results-list li:hover{
	background-color: #DFE6EB;
}

.recipe-search-attribution{
  margin-top: 8px;
}

.recipe-search-yummly-logo{
  width: 66px;
  height: 15px;
  margin-left: -4px;
}

/*.recipe-display-modal div:first-child{
  max-width: 75%;
  width: 800px;
  min-width: 800px;
}*/

/*.recipe-display-header{
}*/

.recipe-display-title{
	font-size: 2.1rem;
}

.recipe-display-description{
	font-weight: bold;
	color: #9753E1;
}

.recipe-display-title{
	font-size: 2.1rem;
}

.recipe-display-ingredients{
	margin-bottom: 15px;
	font-size: 1.2rem;
	color: #535A5A;
	border-top: 0.1rem solid #1D364D;
	border-bottom: 0.1rem solid #1D364D;
	padding-top: 5px;
	padding-bottom: 5px;
}

.recipe-display-ingredient-has{
  width: 20px;
  height: 20px;
  float: left;
}

.recipe-display-instructions p{
	margin-bottom:5px;
	font-size: 1.1rem;
}

.make-recipe-step-container{
  overflow: auto;
  max-height: 575px;
  max-width: 480px;
  margin: 0 auto;
}

.make-recipe-matching-ingredient{
  padding: 15px;
  border: 0.1rem solid #1D364D;
  border-radius: 2px;
  margin-top: 5px;
}

.selected-matching-ingredient{
  border: 0.1rem solid #95D13C;
}

.matching-ingredient-title{
  font-size: 20px;
}

.spacer{
	clear:both;
}

.recipe-search-filter-button{
  margin-top: 32px;
  border-left: 1px solid #F0F4F4;
}

.recipe-search-filter-exclude-ingredients{
  margin-top:20px;
}

.recipe-search-results-container{
  max-width: 1150px;
  min-width: 520px;
}

.recipe-search-results-pagination{
    margin-top: 40px;
}

.recipe-search-results-paginator{
  margin: 0 auto;
}


.recipe-search-result-items{
  margin-top: 30px;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1150px;
  min-width:520px;
  margin: 0 auto;
}

.recipe-search-item-container{
  position: relative;
  display: inline-block;
  border-radius: 2px;
  min-width: 350px;
  height: 150px;
  margin: 0.65rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.recipe-search-item-container:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
  cursor: pointer;
}

.recipe-search-item-mini-container{
  width: 200px;
}

.recipe-search-item-image{
  width: 150px;
  float:left;
}

.recipe-search-item-image img{
  width: 150px;
  height: 150px;
}

.recipe-search-item-mini-image{
  width:200px;
}

.recipe-search-item-mini-image img{
  height: 200px;
  width: 200px;
}

.recipe-search-item-text-data{
  float:left;
  padding: 10px;
  width: 200px;
  height: 150px;
}

.recipe-search-item-title-only{
  margin-top: 40px;
}

.recipe-search-item-title-only p{
  font-size: 2rem;
  text-align: center;
  border-top: 2px solid #602797;
  border-bottom: 2px solid #602797;
}

/*.recipe-display-container{
  max-height: 850px;
  overflow-y: scroll;
}*/

.recipe-display-container h3{
	text-align: center;
	margin-top: 0px;
}

.updating-ingredient-list-item{
  padding: 10px;
  border-bottom: 1px solid gray;
}

.updating-ingredient-list-header{
  font-weight: bold;
  font-size: 18px;
}

.updating-ingredient-list-header-item{
  float:left;
}

.updating-ingredient-list-header-qty{
  float: left;
  margin-left: 98px;
}

.updating-ingredient-list-header-unit{
  text-align: right;
  margin-right: 21px;
}

.manual-update-ingredient-name p{
  font-size: 1.5rem;
}

.updating-ingredient-desc{
  float: left;
  font-size: 1.25rem;
}

.updating-ingredient-selections{
  text-align: right;
  padding: 4px;
}

.updating-ingredient-selections input, .updating-ingredient-selections select{
  padding: 3px;
}

.ingredient-update-descriptor{
  margin-left: 121px;
  margin-top: 5px;
  margin-bottom: -10px;
  color: #E62325;
}

/*InfoMessage Stuff */

.error-msg{
	color: red;
}

.success-msg{
	color: green;
}
